
footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace,'Times New Roman', Times, serif ;
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: xx-large;
    font-weight: lighter;
    width: auto;
    background-color:#b1b3ec9b;

}